<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
         <ul>
           <% @reservation.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
         </ul>
      </div>   
    </div>
  <% end %>

    <%= f.label :startdate %>
    <%= f.text_field :startdate_proper %>


    <%= f.label :enddate %>
    <%= f.text_field :enddate_proper %>


    <%= f.label :first_name %>
    <%= f.text_field :first_name %>


    <%= f.label :last_name %>
    <%= f.text_field :last_name %>


    <%= f.label :email %>
    <%= f.text_field :email %>


    <%= f.label :phone %>
    <%= f.text_field :phone %><BR />

    <% if @reservation.new_record? %>
        <%= f.submit "Create Reservation", class: "btn btn-large btn-primary"%>
    <% else %>    
    <table>
      <tr>
        <td>
          <%= f.submit "Update Reservation", method: :update, class: "btn btn-large btn-primary"%>    
        </td>  
        <td>&nbsp;</td>
        <td>
          <%= link_to 'Delete', @reservation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-primary" %>
        </td>
      </tr>
    </table>  
    <% end %>
<% end %>
