<div class="row">
  <div class="hero-unit">
    <p id="notice"><%= notice %></p>
    <p>
    Thank you for reserving your space within our reserved self parking lot. An email confirmation has been sent to the email address provided. Please print your email confirmation and display your it on your vehicle dashboard for the duration of your stay.    
    </p>
  </div>
  <div class="span6 offset3">
    <h4>Reservation Summary:</h4>
    <ul class="unstyled">
      <li>Arrival date:    <%= @reservation.startdate.to_s(:proper) %></li>
      <li>Departure date:  <%= @reservation.enddate.to_s(:proper) %></li>
      <li>First name:      <%= @reservation.first_name %></li>
      <li>Last name:       <%= @reservation.last_name %></li>
      <li>Email:           <%= @reservation.email %></li>
      <li>Phone:           <%= @reservation.phone %></li>
    </ul>
    <p>Thank you and we are looking forward to serving you.</p>
  </div>

  
</div>

